In [1]:
import numpy as np
import pandas as pd
import pandapower as pp
import grid2op
pd.options.display.max_columns = 40

In [2]:
# rte_case14_redisp
# l2rpn_case14_sandbox
# wcci_test

# l2rpn_2019
# l2rpn_wcci_2020
# rte_case14_realistic
case = "rte_case14_redisp" 
path_grid = "C:\\Users\\Felipe\\data_grid2op\\{}\\grid.json".format(case)

In [25]:
env = grid2op.make(case)

rte_case14_redisp.tar.bz2: 0.00B [00:00, ?B/s]downloading the training data, this may take a while.
rte_case14_redisp.tar.bz2: 292MB [00:38, 7.67MB/s]
Extract the tar archive in "C:\Users\Felipe\data_grid2op"
You may now use the environment "rte_case14_redisp" with the available data by invoking:
	env = grid2op.make("rte_case14_redisp")

In [38]:
grid.trafo

,df,hv_bus,i0_percent,in_service,lv_bus,max_loading_percent,name,parallel,pfe_kw,shift_degree,sn_mva,std_type,tap_max,tap_neutral,tap_min,tap_phase_shifter,tap_pos,tap_side,tap_step_degree,tap_step_percent,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,old_hv_bus,old_lv_bus,old_name
0,1.0,5,0.0,True,4,100.0,37_36_179,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,6.5,345.0,138.0,371.25,0.0,37,36,37_36_179
1,1.0,30,0.0,True,26,100.0,62_58_180,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,4.0,345.0,138.0,382.14,0.0,62,58,62_58_180
2,1.0,31,0.0,True,28,100.0,63_60_181,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,1.5,345.0,138.0,265.32,0.0,63,60,63_60_181
3,1.0,32,0.0,True,33,100.0,64_65_182,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,6.5,345.0,138.0,366.30,0.0,64,65,64_65_182

In [4]:
grid = pp.from_json(path_grid)
for i in np.array(grid.gen["bus"]):
    to_line = i in np.unique(grid.line["from_bus"]) or i in np.unique(grid.line["to_bus"])
    print("gen_bus {} connected to line: {}".format(i, to_line))
    to_trafo = i in np.unique(grid.trafo["hv_bus"]) or i in np.unique(grid.trafo["lv_bus"])
    print("gen_bus {} connected to trafo: {}".format(i, to_trafo))

gen_bus 1 connected to line: True
gen_bus 1 connected to trafo: False
gen_bus 2 connected to line: True
gen_bus 2 connected to trafo: False
gen_bus 5 connected to line: True
gen_bus 5 connected to trafo: True
gen_bus 7 connected to line: False
gen_bus 7 connected to trafo: True

In [ ]:
grid.trafo[["lv_bus", "hv_bus"]][(grid.trafo[""])]

In [5]:
#grid.line[["from_bus","to_bus"]][(grid.line["from_bus"] == 4) + (grid.line["to_bus"] == 4)]
grid.line

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,768.484773,1.0,0,0.0,True,1.0,42.339020,100.0,None,1,3.532005,None,1,ol,10.783732
1,716.088084,1.0,0,0.0,True,1.0,42.339020,100.0,None,1,9.846967,None,4,ol,40.649040
10,0.000000,1.0,8,0.0,True,1.0,27479.652235,100.0,None,1,0.000014,None,9,ol,0.000037
11,0.000000,1.0,8,0.0,True,1.0,27479.652235,100.0,None,1,0.000055,None,13,ol,0.000117
12,0.000000,1.0,9,0.0,True,1.0,27479.652235,100.0,None,1,0.000035,None,10,ol,0.000083
13,0.000000,1.0,11,0.0,True,1.0,27479.652235,100.0,None,1,0.000096,None,12,ol,0.000086
14,0.000000,1.0,12,0.0,True,1.0,27479.652235,100.0,None,1,0.000074,None,13,ol,0.000151
2,637.493051,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,8.563928,None,2,ol,36.080033
3,494.857619,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,10.590547,None,3,ol,32.134320
4,503.590401,1.0,1,0.0,True,1.0,42.339020,100.0,None,1,10.379138,None,4,ol,31.689630
5,186.299339,1.0,2,0.0,True,1.0,42.339020,100.0,None,1,12.212573,None,3,ol,31.170217
6,0.000000,1.0,3,0.0,True,1.0,42.339020,100.0,None,1,2.433038,None,4,ol,7.674548
7,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000041,None,10,ol,0.000086
8,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000053,None,11,ol,0.000111
9,0.000000,1.0,5,0.0,True,1.0,27479.652235,100.0,None,1,0.000029,None,12,ol,0.000056

In [42]:
grid.bus.shape

(14, 7)

In [23]:
grid.gen

,name,bus,p_mw,vm_pu,sn_mva,min_q_mvar,max_q_mvar,scaling,slack,in_service,type,controllable,min_p_mw,max_p_mw
0,None,1,40.0,1.045,NaN,-40.0,50.0,1.0,False,True,None,True,0.0,140.0
1,None,2,0.0,1.010,NaN,0.0,40.0,1.0,False,True,None,True,0.0,100.0
2,None,5,0.0,1.070,NaN,-6.0,24.0,1.0,False,True,None,True,0.0,100.0
3,None,5,0.0,1.070,NaN,-6.0,24.0,1.0,False,True,None,True,0.0,100.0
4,None,7,0.0,1.090,NaN,-6.0,24.0,1.0,False,True,None,True,0.0,100.0

In [28]:
None

In [27]:
grid.trafo

,df,hv_bus,i0_percent,in_service,lv_bus,max_loading_percent,name,parallel,pfe_kw,shift_degree,sn_mva,std_type,tap_max,tap_neutral,tap_min,tap_phase_shifter,tap_pos,tap_side,tap_step_degree,tap_step_percent,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent
0,1.0,3,0.0,True,6,100.0,None,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,2.2,135.0,14.000,2070.288,0.0
1,1.0,3,0.0,True,8,100.0,None,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,3.1,135.0,0.208,5506.182,0.0
2,1.0,4,0.0,True,5,100.0,None,1,0.0,0.0,9900.0,None,NaN,0.0,NaN,False,-1.0,hv,NaN,6.8,135.0,0.208,2494.998,0.0
3,1.0,6,0.0,True,7,100.0,None,1,0.0,0.0,9900.0,None,NaN,NaN,NaN,False,NaN,None,NaN,NaN,14.0,12.000,1743.885,0.0
4,1.0,6,0.0,True,8,100.0,None,1,0.0,0.0,9900.0,None,NaN,NaN,NaN,False,NaN,None,NaN,NaN,14.0,0.208,1089.099,0.0

In [30]:
env.backend.line_or_to_subid

array([ 0,  0,  8,  8,  9, 11, 12,  1,  1,  1,  2,  3,  5,  5,  5,  3,  3,
        4,  6,  6])

In [14]:
env.backend.sub_info

array([ 3,  6,  3,  3,  6,  3,  3,  6,  3,  6,  3,  3,  4,  5,  4,  3, 17,
        3,  4,  3,  3,  9,  5, 10,  3,  3,  9,  5,  5,  7,  2,  3,  5,  7,
        3,  7])

In [ ]:
""":attr:`GridObjects.name_load`
:attr:`GridObjects.name_gen`
:attr:`GridObjects.name_line`
:attr:`GridObjects.name_sub`
:attr:`GridObjects.n_line`
:attr:`GridObjects.n_gen`
:attr:`GridObjects.n_load`
:attr:`GridObjects.n_sub`
:attr:`GridObjects.sub_info`
:attr:`GridObjects.dim_topo`
:attr:`GridObjects.load_to_subid`
:attr:`GridObjects.gen_to_subid`
:attr:`GridObjects.line_or_to_subid`
:attr:`GridObjects.line_ex_to_subid`
:attr:`GridObjects.load_to_sub_pos`
:attr:`GridObjects.gen_to_sub_pos`
:attr:`GridObjects.line_or_to_sub_pos`
:attr:`GridObjects.line_ex_to_sub_pos`
    """

In [32]:
env.name_line

array(['0_1_0', '0_4_1', '8_9_2', '8_13_3', '9_10_4', '11_12_5',
       '12_13_6', '1_2_7', '1_3_8', '1_4_9', '2_3_10', '3_4_11',
       '5_10_12', '5_11_13', '5_12_14', '3_6_15', '3_8_16', '4_5_17',
       '6_7_18', '6_8_19'], dtype='<U7')

In [33]:
obs = env.reset()
for line_id in range(obs.n_line):
    print (obs.line_status[line_id])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [33]:
a = pd.DataFrame(grid.trafo[["lv_bus", "hv_bus"]])

In [34]:
a["x"] = 0.1

In [35]:
a

   lv_bus  hv_bus    x
0       4       5  0.1
1      26      30  0.1
2      28      31  0.1
3      33      32  0.1

In [45]:
grid.bus

    in_service  max_vm_pu  min_vm_pu name type    vn_kv zone
0         True       1.06       0.94    1    b  135.000    1
1         True       1.06       0.94    2    b  135.000    1
10        True       1.06       0.94   11    b    0.208    1
11        True       1.06       0.94   12    b    0.208    1
12        True       1.06       0.94   13    b    0.208    1
13        True       1.06       0.94   14    b    0.208    1
2         True       1.06       0.94    3    b  135.000    1
3         True       1.06       0.94    4    b  135.000    1
4         True       1.06       0.94    5    b  135.000    1
5         True       1.06       0.94    6    b    0.208    1
6         True       1.06       0.94    7    b   14.000    1
7         True       1.06       0.94    8    b   12.000    1
8         True       1.06       0.94    9    b    0.208    1
9         True       1.06       0.94   10    b    0.208    1

In [47]:
grid.bus.shape[0]

14